<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://ec2-18-219-49-166.us-east-2.compute.amazonaws.com:3306/myDB</property>
		<property name="hibernate.connection.username">kamryn</property>
		<property name="hibernate.connection.password">Ha77Y__#!?62</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<mapping class="datamodel.Employee" />
	</session-factory>
</hibernate-configuration>